/*Bom habitos programa paras telas pequenas depois vai aumentando com os @media*/


.pokemons {
    /*Comando display: grid faz a base em grade*/
    list-style: none;
    display: grid;
    /*grid template columns mostra como ficaram as colunas no caso "1fr" para cada vai ficar 50%*/
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    
} 
/*usar a unidade px pixel quando nao quer que altere pois ele e emais fixo*/
 

.pokemon {

    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem; 
    background-color: #49D0B0;
    color: rgb(255, 255, 255);
    height: 10rem;

    /*Coloquei o logo da pokebola no funo e configurei sua posição/tamanho*/
    background-image: url('../../logoOpaco2.png');
    background-position: 140px 32px;
    background-repeat: no-repeat;
    background-size: 120px 120px;
    
    

       
}




.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;

}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 0;

}



.pokemon .types {
    
    list-style: none;
    padding: 0;
    margin: 0;
        
}

.pokemon .types .type {

    background-color: rgba(5, 248, 135, 0.329) ;
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .800rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: left;

}




.cardBody {
    
    display: flex; 
    justify-content: space-between;

}


.bg-img  {

    display: flex;
    background-image: url(); 
    background-repeat: round;
    
}


.bg-img img {

    max-width: 60%;
    height: 100px ;
    padding: 0px;
    border-style: none;
    margin-top: 8px;
    margin-left: 90px;
    margin-bottom: 50px;

}





/*Esse media vai deixa a tela com 3 colunas caso ela for 576px "Mediana"*/
@media screen and (min-width: 380px) {
    .pokemons {

        grid-template-columns: 1fr 1fr ;

       
    }

    .pokemon {

        display: flex;
        flex-direction: column;
        margin: .5rem;
        padding: 1rem;
        border-radius: 1rem; 
        background-color: #49D0B0;
        color: rgb(255, 255, 255);
        height: 10rem;
    
        /*Coloquei o logo da pokebola no funo e configurei sua posição/tamanho*/
        background-image: url('../../logoOpaco2.png');
        background-position: 73px 73px;
        background-repeat: no-repeat;
        background-size: 80px 80px;
        
        
    
           
    }

    .bg-img img {

        max-width: 80%;
        height: 100px ;
        padding: 0px;
        border-style: none;
        margin-top: 29px;
        margin-left: 23px;
        margin-bottom: 30px;
    
    }

}

/*Esse media vai deixa a tela com 3 colunas caso ela for 576px "Mediana"*/
@media screen and (min-width: 576px) {
    .pokemons {

        grid-template-columns: 1fr 1fr 1fr;
        
    
    }

    .pokemon {

        display: flex;
        flex-direction: column;
        margin: .5rem;
        padding: 1rem;
        border-radius: 1rem; 
        background-color: #49D0B0;
        color: rgb(255, 255, 255);
        height: 10rem;
    
        /*Coloquei o logo da pokebola no funo e configurei sua posição/tamanho*/
        background-image: url('../../logoOpaco2.png');
        background-position: 70px 66px;
        background-repeat: no-repeat;
        background-size: 90px 90px;
        
        
    
           
    }

    .bg-img img {

        max-width: 100%;
        height: 100px ;
        padding: 0px;
        border-style: none;
        margin-top: 23px;
        margin-left: 13px;
        margin-bottom: 30px;
    
    }
}

/*Esse media vai deixa a tela com 3 colunas caso ela for 992px "Grande"*/
@media screen and (min-width: 992px) {
    .pokemons {

        grid-template-columns: 1fr 1fr 1fr 1fr;
    
    }

    .pokemon {

        display: flex;
        flex-direction: column;
        margin: .5rem;
        padding: 1rem;
        border-radius: 1rem; 
        background-color: #49D0B0;
        color: rgb(255, 255, 255);
        height: 10rem;
    
        /*Coloquei o logo da pokebola no funo e configurei sua posição/tamanho*/
        background-image: url('../../logoOpaco2.png');
        background-position: 83px 30px;
        background-repeat: no-repeat;
        background-size: 130px 130px;
        
        
    
           
    }

    .bg-img img {

        max-width: 100%;
        height: 100px ;
        padding: 0px;
        border-style: none;
        margin-top: 9px;
        margin-left: 15px;
        margin-bottom: 30px;
    
    }
}

